# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# default_stages: [commit, push]
# fail_fast: true
repos:
    - repo: local
      hooks:
          - id: prettier
            name: prettier
            entry: npx prettier --write .
            language: system
            types: [javascript]
          - id: eslint
            name: eslint
            entry: eslint .
            language: system
            types: [javascript]
