
.sermon-status-area-icon-first {
    margin-right: 5px;
}

.sermon-status-area-icon-last {
    margin-left: 5px;
}
.sermon-status-area-icon-middle {
    margin-left: 5px;
    margin-right: 5px;
}

.sermon-section-container {
    max-width: 800px;
    max-height: 800px;
    margin: 0px;
    padding: 0px;
}

.sermon-section {
    margin: 0px;
    padding: 0px;
}

.sermon-section-title {
    font-size: 1.2em;
    font-weight: bold;
}

.sermon-section-status {
    text-align: left;
}

.sermon-section-item-text {
    width: 12em;
}

.sermon-section-item-alt-text {
    margin-right: 1em;
    text-align: right;
}

.sermon-section-item-button {
    padding-right: 2px;
    padding-left: 2px;
}

.sermon-section-item-button:hover {
    background-color: #606060;
    border-radius: 8px;
}
