
.sermon-status-area-icon-first {
    margin-right: 5px;
}

.sermon-status-area-icon-last {
    margin-left: 5px;
}

.sermon-status-area-icon-middle {
    margin-left: 5px;
    margin-right: 5px;
}

.sermon-section-container {
    background: transparent;
    max-width: 800px;
    max-height: 800px;
    margin: 0px;
    padding: 0px;
}

.sermon-section-container:hover {
    background: transparent;
}

.sermon-section {
    margin: 0px;
    padding: 0px;
}

.sermon-section-header-container {
    background: transparent;
}

.sermon-section-header-container:hover {
    background: transparent;
}

.sermon-section-header-text {
    font-size: 1.2em;
    font-weight: bold;
}

.sermon-section-item-text {
    width: 12em;
}

.sermon-section-item-button {
    padding-right: 2px;
    padding-left: 2px;
}
