
.menu-section-container {
    max-width: 1800px;
    max-height: 1800px;
}

.menu-section-title-text {
    font-weight: bold;
}

.menu-section-item-text {
    min-width: 8em;
    max-width: 12em;
}

.menu-section-item-alt-text {
    margin-right: 1em;
	text-align: right;
}
